body {
    position: relative;
    margin: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

#politician {
    padding-top: 50px;
    max-height: 75vh;
}

#moustache {
  position: absolute;
  height: 7vh;
  top: 90vh;
  cursor: grab;
  user-select: none;
}